<!-- LAYER MENU -->
<ul id="layers-menu">
	<li id="default-layer-list-item" class="layers-menu-entry selected-layer" style="display:none;">
		<canvas class = "preview-canvas"></canvas>
		<ul class="layer-buttons">
			<li class = "layer-button">
				<button title="Lock layer" class="lock-layer-button">
					{{svg "unlockedpadlock.svg" width="15" height="15" class = "default-icon"}}
					{{svg "lockedpadlock.svg" width="15" height="15" class = "edited-icon" display = "none"}}
				</button>
			</li>
			<li class = "layer-button">
				<button title="Show / hide layer" class="hide-layer-button">
					{{svg "visible.svg" width="15" height="15" class = "default-icon"}}
					{{svg "invisible.svg" width="15" height="15" class = "edited-icon" display = "none"}}
				</button>
			</li>
		</ul>

		<p>Background<div class = "gradient"></div></p>
	</li>

	<li id="add-layer-li">
		<button id="add-layer-button">
			{{svg "plus.svg" width="20" height="20"}} Add layer
		</button>
	</li>
</ul>

<ul id="layer-properties-menu">
	<li>
		<button onclick = "LayerList.renameLayer()">Rename</button>
	</li>
	<li>
		<button onclick = "LayerList.duplicateLayer()">Duplicate</button>
	</li>
	<li>
		<button onclick = "LayerList.deleteLayer()">Delete</button>
	</li>
	<li>
		<button onclick = "LayerList.merge()">Merge below</button>
	</li>
	<li> 
		<button onclick = "LayerList.flatten(true)">Flatten visible</button>
	</li>
	<li>
		<button onclick = "LayerList.flatten(false)">Flatten all</button>
	</li>
</ul>